﻿@model FizzBuzzApplication.Models.FizzBuzzModel
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "FizzBuzzHome";
}
<link href="~/Content/Fizz.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("FizzBuzzHome", "FizzBuzz"))
{
    @Html.ValidationSummary(true)
    <div style="border-bottom: 1px solid #bbb">
        <h1>Fizz Buzz Sequence</h1>
    </div> 
    
    <table style="border: 0px; width: 1000px; margin: 10px;">
        <tr>
            <td>
                @Html.LabelFor(model => model.Input, "Enter Input (Ranging 1-1000): ")
                @Html.TextBox("Input", Model.Input)
                @Html.ValidationMessageFor(model => model.Input)

            </td>
        </tr>
        <tr>
            <td style="vertical-align: bottom;">
                <input type="submit" value="Display Fizz Buzz" />
            </td>
        </tr>
    </table>
}

@if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Count > 0)
{
    <table class="table" style="width: 1000px; margin: 10px;">

        @foreach (var sequence in Model.FizzBuzzList)
        {
            <tr>
                <td>
                    @if (sequence.Split(' ').Count() >= 2)
                    {
                        <span class="@sequence.Split(' ')[0]">@sequence.Split(' ')[0]</span>
                        <span class="@sequence.Split(' ')[1]">@sequence.Split(' ')[1]</span>
                    }
                    else
                    {
                        <span class="@sequence">@sequence</span>
                    }
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList<string>)Model.FizzBuzzList, pageNumber => Url.Action("FizzBuzzHome", new { pageNumber }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
}
